


  <p class="item-name">{{itemInfo.itemName}}</p>
<div class="content-container">
 <div class="item-data">
   <p class="item-description">{{itemInfo.itemDescription}}</p>
   <img class="item-image" src="{{itemInfo.largeIcon}}" alt="{{itemInfo.itemName}}">
</div>
  <div class="item-current-price">
      <p class="item-guide-price">Current Guide Price</p>
      <div>
        <p class="item-price">{{itemInfo.current}}</p>
        <img class="item-coin-stack" src="assets/images/Coins_detail.png" alt="">
     </div>
  </div>


    <div class="item-change-data">
      <div>
      <p>30 Day Change</p>
      <p>{{itemInfo.day30}}</p>
    </div>
    <div>
      <p>90 Day Change</p>
      <p>{{itemInfo.day90}}</p>
    </div>
    <div>
    <p>180 Day Change</p>
    <p>{{itemInfo.day180}}</p>
  </div>
</div>
</div>
  

  <div class="chart-btn-container">
    <button class="chart-btn" (click)="showDays(30)">30 day</button>
    <button class="chart-btn" (click)="showDays(90)">90 day</button>
    <button class="chart-btn" (click)="showDays(180)">180 day</button>
  </div>

  <div class="chart-container">

    <div *ngIf="show30">
      <p>30 day</p>
    </div>
  
    <div *ngIf="show90">
      <p>90 day</p>
    </div>
  
    <div *ngIf="show180">
      <p>180 day</p>
    </div>
  </div>




