

h3 {
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: 	#00CED1;
}

.item-wrapper {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  align-items:center;
}

.item-wrapper > .info {
  padding: 20px;
  color: 	#00CED1;
}

.item-wrapper > .item-price p {
 color:#DAA520;
 font-weight: 900;
}


.change {
  position: relative;
  display: block;
  width: 300px;
  max-width: 344px;
  line-height: 2;
  background-color:#24292e;
  overflow: hidden;
  border-radius: .25em;
  border-bottom: 1px solid black;
 
}

.change p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #f39c12;
}


#monthly-change {
  color: #32CD32;

  font-weight: 900;
  font-size: 20px;
}
.loss {
  color:red;
  font-weight: 900;
  font-size: 20px;
}


.item-change-data{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.chart-btn-container {
  padding: 30px 0px;
}

.chart-container {
  max-height: 300px;
}

.spinner-container {
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.spinner-1 {
  width: 60px;
  height: 60px;
  margin: 30px auto;
  background: transparent;
  border-top: 4px solid #4caf50;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}




@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}