

<!-- <div *ngIf="!show180" class="spinner-container">
    <div [ngClass]="{'spinner-1': loading }">
    </div>

  -->
<div class="item-data container" *ngFor="let x of item">
<h3>{{x.name}}</h3>
<div class="item-wrapper">

  <div class="info">
  <p>{{x.itemDescription}}</p>
  <img class="item-image" src="{{x.largeIcon}}" alt="{{x.name}}">
  </div>

  <div class="item-price">
    <p>{{x.current}} GP</p>
  </div>

</div>




<div class="item-change-data">
  <div class="change">
<p>30 Day Change</p>
<p id="monthly-change" [ngClass]="{'loss': x.thirty }" >{{thirtyDayChange}}%</p>
</div>

<div class="change">
  <p>90 Day Change</p>
  <p id="monthly-change" [ngClass]="{'loss': x.ninenty }">{{ninetyDayChange}}%</p>
</div>

<div class="change">
  <p>180 Day Change</p>
  <p id="monthly-change" [ngClass]="{'loss': x.hundredEighty }">{{hundredEightyDayChange}}%</p>
</div>
</div> 



<div class="chart-btn-container">
  <button class="btn draw-border" (click)="showDays(30)">30 day</button>
  <button class="btn draw-border" (click)="showDays(90)">90 day</button>
  <button class="btn draw-border" (click)="showDays(180)">180 day</button>
</div>

<div class="chart-container">
  
  <div *ngIf="!show30">
    <app-one-month-chart></app-one-month-chart>
  </div>
  
  <div *ngIf="show90">
    <app-three-month-chart></app-three-month-chart>
  </div>
  
  <div *ngIf="show180">
    <app-six-month-chart></app-six-month-chart>
  </div>
  
</div>
</div>





<div *ngIf="error" class="val-box">
  <p class="validation">{{error}}</p>
</div>

