h1 {
  text-align: center;
  padding-top: 30px;
}

h6 {
  color: white;
  font-size: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

form {
   outline: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px; 
}

form > .textbox {
  outline: 0;
  height: 42px;
  max-width: 344px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}



.form-btn-container{
  padding-top: 20px;
  display: flex; 
  justify-content: center;
}


.track-player-details {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.high-score {
  max-width: 400px;
  
 
}

.hiscore-img{
  width: 400px;
}

.xpchart-img {
  width: 400px;
  height: 330px;
}

.high-score > p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px;
}

.high-score > h3{
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
  
}

@media screen and (max-width: 760px) {

  .high-score {
    margin: 0 auto;
  }
  .hiscore-img-wrap {
   display: flex;
   justify-content: center;
  }
 .hiscore-img, .xpchart-img {
   max-width: 330px;
 }
}


