<h1>Here you can start tracking your account</h1>

<div class="track-player-details">
  <div class="high-score">
    <div class="hiscore-img-wrap">
      <img class="hiscore-img" src="/assets/images/osrs-highscore.png" alt="high-score">
    </div>
    <h3>Compete For Ranks</h3>
    <p>
      <b>Start</b> tracking your account today and you will be able to start seeing experience gains in
      <b>24 hours</b>
      and able to compete against other players for a spot on the
      <b>front page!</b>
    </p>
  </div>
  <div class="high-score">
    <div class="hiscore-img-wrap">
      <img class="xpchart-img" src="/assets/images/xp-chart.png" alt="xpchart">
    </div>
    <h3>Xp Tracking Visualization</h3>
    <p>You will be able to see data regarding your or other player's accounts, by tracking your account you will have a more
      <b>efficient</b> way of keeping track of how well you are doing.
    </p>
  </div>
</div>

<div class="form-container">
  <form  (ngSubmit)="submitForm(form)" #form="ngForm">
     <input type="text"  class="textbox" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="1" [disabled]="processing" placeholder="Osrs Username"/>
     <div class="form-btn-container">
       <button class="button" type="submit" [disabled]="processing">Start tracking</button>
     </div>
 </form>
</div>


<!-- todo, make username length between 1-12 characters -->