<h1>Here you can start tracking your account</h1>
<div class="form-container">
  <form  (ngSubmit)="submitForm(form)" #form="ngForm">
     <input type="text"  class="textbox" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="1" [disabled]="processing" placeholder="Osrs Username"/>
     <div class="form-btn-container">
       <button class="button" type="submit" [disabled]="processing">Start tracking</button>
     </div>
 </form>
</div>


<!-- todo, make username length between 1-12 characters -->