 <h3>Ensouled Head Calculator</h3>


<div class="tb-container">
<table>
    <thead>
      <tr>
        <th scope="col" class="game-item">Ensouled Head</th>
        <th scope="col" class="game-xp">Experience</th>
        <th scope="col" class="lvl-req">Level Required</th>
        <th scope="col input-field" class="amount">Amount</th>
     
      </tr>
    </thead>
    <tbody *ngFor="let head of heads; let i = index">
      <tr>
        <th scope="row" class="game-item"> <img class="icon" src="/assets/images/ensouled-heads/{{ensouledIcons[i]}}" alt=" {{head.itemName}}"> <br> {{head.itemName}}</th>
        <th scope="row" class="game-xp">{{head.experience}} Xp</th>
        <th scope="row" class="lvl-req"> Level {{head.levelRequired}}</th>
        <td><input class="user-input" type="number" min="0" value="0" [(ngModel)]="head.binding"></td>
        
      </tr>
      
    </tbody>
  </table>

  <table>
      <thead>
        <tr>
          <th scope="col" class="game-item">Bones</th>
          <th scope="col" class="game-xp">Experience</th>
          <th scope="col" class="lvl-req">Level Required</th>
          <th scope="col input-field" class="amount">Amount</th>
       
        </tr>
      </thead>
      <tbody *ngFor="let bone of bones; let i = index">
        <tr>
          <th scope="row" class="game-item"> <img class="icon" src="/assets/images/bones/{{boneIcons[i]}}" alt=" {{bone.itemName}}"> <br> {{bone.itemName}}</th>
          <th scope="row" class="game-xp">{{bone.experience}} Xp</th>
          <th scope="row" class="lvl-req"> Level {{bone.levelRequired}}</th>
          <td><input class="user-input" type="number" min="0" value="0" [(ngModel)]="bone.binding"></td>
          
        </tr>
        
      </tbody>
    </table>
  </div>

<div class="calculate-prayer">
  <button class="btn draw-border" (click)="calculate()">calculate</button>
</div>


<div id="result" class="res-box card-1">
  <h3 id="total">Total XP</h3>
  <h6 id="val">{{total}}</h6>

  <h3>Runes needed:</h3>
  <div class="rune-wrapper runescape">
      <div>
        <img class="runes" src="/assets/images/Blood_rune.png">
        <p>{{bloodRune}}</p>
      </div>
      <div>
        <img class="runes" src="/assets/images/Nature_rune.png">
        <p>{{natureRune}}</p>
      </div>
      <div>
        <img class="runes" src="/assets/images/Soul_rune.png">
        <p>{{soulRune}}</p>
      </div>
      <div>
        <img class="runes" src="/assets/images/Body_rune.png">
        <p>{{bodyRune}}</p>
      </div>
    </div>

</div>

