 <h3>Ensouled Head Calculator</h3>

<div class="card-wrapper">
  <div class="card card-1" *ngFor="let head of heads">
      <h6>{{head.itemName}}</h6>
      <h6> Level {{head.levelRequired}}</h6>
      <img class="icon" src="{{head.itemIdIcon}}" alt=" {{head.itemName}}">
      <div class="card-input">
        <input class="user-input" type="number" min="0" value="0" [(ngModel)]="head.binding">
      </div>
      <div class="rune-wrapper">
        
          <div>
            <img class="runes" src="/assets/images/Blood_rune.png">
            <p>{{head.bloodRune}}</p>
          </div>
          <div>
            <img class="runes" src="/assets/images/Nature_rune.png">
            <p>{{head.natureRune}}</p>
          </div>
          <div>
            <img class="runes" src="/assets/images/Soul_rune.png">
            <p>{{head.soulRune}}</p>
          </div>
          <div>
            <img class="runes" src="/assets/images/Body_rune.png">
            <p>{{head.bodyRune}}</p>
          </div>
        </div>

  </div>
</div>


<div class="calculate-prayer">
  <button class="btn draw-border" (click)="calculate()">calculate</button>
</div>

<p>{{total}}</p>

