<div class="hero">

</div>

 <div class="main-index-content">
  <h1>Highscore Leaderboard</h1>
  <div class="categories">

   <div>
    <app-top-reg-players></app-top-reg-players>
   </div>

   <div>
    <app-top-im-players></app-top-im-players>
   </div>

   <div>
    <app-top-hcim-players></app-top-hcim-players>
   </div>

   <div>
    <app-top-uim-players></app-top-uim-players>
  </div>
   
    </div>

  </div>
  
  
  <div id="top-index" class="top-index-content">

    
    <div class="index-btn-wrap">
      <div class="osrs-highscore">
        <form [routerLink]="['/track-player']">
          <button type="button" class="btn draw-border">Track My Xp</button>
        </form>
      </div>
      
      <div class="osrs-tools">
        <form [routerLink]="['/highscore']">
          <button type="button" class="btn draw-border">Highscores</button>
        </form>
      </div>
      
      <div class="osrs-tools">
        <form [routerLink]="['/tools']">
          <button type="button" class="btn draw-border">Tools</button>
        </form>
      </div>
    </div>
  </div> 


<div class="tweet-box">
  <app-twitter-feed></app-twitter-feed>

</div>
