.hero {
background-image: url('https://i.pinimg.com/originals/e1/c8/26/e1c826fdfb9a56b8bebbdb85dd20a703.png');
background-repeat: no-repeat;
background-size: cover;
height:calc(100vh - 70px);
}


.categories {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.categories > div {
  border: 1px solid green;
  max-width: 350px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.categories p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: #00CED1;
  }

h1 {
  display: block;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #f39c12;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}


.index-btn-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  
}

.index-btn-wrap > div {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
 
}


@media only screen and (max-width: 600px) {
 
}
