
  <h3 class="hcim-title">Recent Fallen HCIM</h3>

<div class="categories">
  <div class="account-box" *ngFor="let x of playerInfo">
      <p class="rsn" >{{x.name}}</p>

      
      <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Total Level</th>
                <th>Overall Rank</th>
                <th>Overall Xp</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td class="xp">{{x.totalLevel}}</td>
                <td class="xp">{{x.overAllRank}}</td>
                <td class="xp">{{x.overAllXp}}</td>
                </tr>
                
            </tbody>
          </table>
        </div>

      <div class="img-wrapper">
          <img src="{{x.statsAtDeath}}" alt="{{x.name}} stats at death">
      </div>

      <div class="time-of-death">
          <h3>Time of Death</h3>
          <p>{{x.timeOfDeath}}</p>
          <div class="source">
            <a href="{{x.postSource}}" class="credit"><span>Source:</span> @HCIM_Deaths</a>
          </div>
      </div>

  </div>
</div>



