<div *ngIf="!geItemArray">
  ..loading
</div>

<div class="column is-one-third">
    <label class="control">Filter items
        <input type="text" placeholder="Search for items" [(ngModel)]="searchTerm">
    </label>
</div>
<div class="container" *ngFor="let geData of geItemArray | searchFilter:searchTerm | paginate: { itemsPerPage: 50, currentPage: p }" (click)="displayItemData(geData.id)">
  <div class="items">
  <p>name: {{geData.name}}</p>
  </div>
</div>
    <div class="pagination-control-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

 