p {
  color: white;
}



.is-one-third{
  padding: 12px;
  background: #e7e7e7;
  border-radius: 2px;
  line-height: 30px
}

.is-one-third input{
  padding: 8px;
  width: 300px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  float: right;
}

.is-one-third:after{
  content: "";
  display: block;
  clear: both;
}