.tablewrapper {
  padding-top: 10px;
}
table{
  width:100%;
  table-layout: fixed;
}

.tbl-content{

  margin-top: 0px;
  cursor: pointer;
}
th{
  padding: 20px 15px;
  color: #DAA520;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}
td{
  padding: 15px;
  vertical-align:middle;
  text-align: center;
  font-weight: 900;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.username {
  text-transform: capitalize;
  color: #DAA520;
  font-weight: 900;
}

.p-data {
  font-weight: 900;
  color: #32CD32
}

.players:hover {
  background-color:#24292e;
}