<h1>Tools</h1>
<hr>

<div class="tools-wrapper">
<div class="tools">
  <div>
    <img class="tools-img" src="/assets/images/efficient-alcher.jpg" alt="">
    <p>
      <span>Want</span> to make money while training Magic? Start training more efficiently today and make money while training
      Magic!</p>
    <a class="btn draw-border" [routerLink]="['/high-alch-calculator-2007-osrs']">high alch for profit</a>
  </div>
  <div>
    <img class="tools-img" src="/assets/images/necromancy-training.jpg" alt="">
    <p>As a grinding
      <span>Ironman</span> or a regular
      <span>Player</span> this tool is built for you to check how close you are to that magical level
      <span>70</span> milestone.</p>
    <a class="btn draw-border" [routerLink]="['/ensouled-head-calculator-2007-osrs']">ensouled calculator</a>
  </div>
  <div>
    <img class="tools-img" src="/assets/images/grandexchange-osrs.png" alt="">
    <p>Know the item prices, stop overpaying and start flipping to make
      <span>Bank</span> on OSRS today!</p>
    <a class="btn draw-border" [routerLink]="['/grandexchange-2007-osrs']">grandexchange</a>
  </div>
  <div>
    <img class="tools-img" src="/assets/images/herblore-osrs.png" alt="">
    <p>Stop guessing and use this calculator to check how much
      <span>Herblore</span> XP you have got banked!</p>
    <a class="btn draw-border" [routerLink]="['/herblore-calculator-2007-osrs']">herblore calculator</a>
  </div>
  <div>
    <img class="tools-img" src="/assets/images/osrs-highscore.png" alt="">
    <p>Compete with other
      <span>Players</span> for a spot on the Front Page. Start tracking your
      <span>Account</span> today and you will be able to look at your progress visually!</p>
    <a class="btn draw-border" [routerLink]="['/track-player']">track your account</a>
  </div>
</div>
</div>

<div class="suggestions">
  <h4>Got suggestions? Contact Me <a href="mailto:ensouledheadcalculator@gmail.com">Here</a></h4>
</div>