<h1>Tools</h1>
<hr>

<div class="tools">
  <div>
    <a [routerLink]="['/high-alch-calculator-2007-osrs']">HIGH ALCH CALCULATOR</a>
  </div>
  <div>
    <a [routerLink]="['/ensouled-head-calculator-2007-osrs']">ENSOULED HEAD CALCULATOR</a>
  </div>
  <div>
    <a [routerLink]="['/grandexchange-2007-osrs']">GRANDEXCHANGE</a>
  </div>
  <div>
    <a [routerLink]="['/herblore-calculator-2007-osrs']">HERBLORE CALCULATOR</a>
</div>
<div>
    <a [routerLink]="['/track-player']">Track Your Account</a>
</div>
</div>