<section class="nav-wrapper">
    <a [routerLink]="['/']" id="logo"><img class="main-logo" src="/assets/images/logo.png" alt=""></a>
    
    <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
    <input type="checkbox" id="toggle-1">
    
    <nav>
    <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/highscore']">Highscores</a></li>
        <li><a [routerLink]="['/find-hcim-death']">HCIM Death</a></li>
        <li><a [routerLink]="['/tools']">Tools</a></li>
    </ul>
    </nav>
    
  </section>