h1 {
  text-align: center;
}


.herblore-box-wrapper {
  display:flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.herblore-box {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.herblore-box > p {
  text-align: center;
}

.herblore-box > img {
  max-width: 45px;
  margin: 0 auto;
  padding-bottom: 20px;
}