<h1>Herblore Calculator</h1>
<div class="herblore-box-wrapper">
  <div class="herblore-box">
  <p>Guam Leaf</p>
  <img src="{{herbs[0].guamIcon}}" alt="guam">
  <input>
  <select name="" id="">
    <option value="Select Herb" *ngFor="let herb of herbs">{{herb.name}}</option>
  </select>
  </div>
  
  <div class="herblore-box">
  <p>Guam Leaf</p>
  <img src="{{herbs[0].guamIcon}}" alt="guam">
  <input>
  <select name="" id="">
    <option value="Select Herb" *ngFor="let herb of herbs">{{herb.name}}</option>
  </select>
  </div>


  <div class="herblore-box">
  <p>Guam Leaf</p>
  <img src="{{herbs[0].guamIcon}}" alt="guam">
  <input>
  <select name="" id="">
    <option value="Select Herb" *ngFor="let herb of herbs">{{herb.name}}</option>
  </select>
  </div>
    

</div>