<h1>Herblore Calculator</h1>


 <form id="searchform" (ngSubmit)="submitForm(form)" #form="ngForm">
   <div class="form-input">
     <input type="text" [maxlength]="12" class="textbox" name="username" placeholder="OSRS USERNAME" [(ngModel)]="username" #usernameField="ngModel" minlength="1" (input)="inputValidator($event)" />
  </div>
  <button type="submit" class="btn draw-border">Get Stats</button>
</form>

<div class="herblore-lvl">
  <p>Your Herblore Level:</p>
  <div *ngIf="!playerLevel" class="spinner-container">
      <div [ngClass]="{'spinner-1': loading }"></div>
  </div>
  <p class="lvl">{{playerLevel}}</p>
</div>
<div *ngIf="error" class="val-box">
<p class="validation">{{error}}</p>
</div>




<div class="herb-wrapper" *ngFor="let x of herbs">
<p>{{x.name}}</p>
<input [(ngModel)]="x.binding" name="binding" type="number">
<div class="herbs">
<select>
    
  <option name="pot1" >{{x.pots[0]}}</option>
  <option name="pot2"  *ngIf="x.pots[1]">{{x.pots[1]}}</option>
  <option name="pot3" *ngIf="x.pots[2]">{{x.pots[2]}}</option>
  <option name="pot4"  *ngIf="x.pots[3]">{{x.pots[3]}}</option>
        
</select>
</div>
</div>
           
          


                                                 
    

<div class="result">
  <form>
  <button class="btn draw-border" (click)="calculate()">calculate</button>
  </form>
</div>