h1 {
  text-align: center;
  padding: 20px;
  color:#00CED1;
}

h6 {
  font-size: 18px;
  padding: 20px;
  color: #f39c12;

}
label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  padding-right: 20px;
}

#searchform {
  width: 40%;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px 0px;
}

#searchform input {
  width: 100%;
  height: 50px;
  align-self: center;
 
}

.herblore-lvl {
  margin: 0 auto;
}
 .herblore-lvl p {
  display: block;
  text-align: center;
  padding: 10px 0px;
  color:#00CED1;
}

.herblore-lvl > .lvl {
  color: green;
  font-size: 22px;
  /* padding:0px !important; */
}



.result {
 display: flex;
 justify-content: center;
 padding-top:50px;
 clear: both;
}


.spinner-container {
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.spinner-1 {
  width: 60px;
  height: 60px;
  margin: 30px auto;
  background: transparent;
  border-top: 4px solid #4caf50;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}




@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.herb-wrapper {
  border: 1px solid white;

  padding: 20px;
 
}

.herb-wrapper p {
  text-align: center;
}

.herbs div {
  border: 1px solid blueviolet;
  max-width: 300px;
}

 .input-box {
  margin: 0 auto;
}

h1 {
  text-align: center;
}
/* Reset Select */


.textbox {
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.textbox:focus {
  outline: 0;
  background-color: #FFF;
}


td {
  display: block;
}