
<div class="tablewrapper container">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Rank</th>
            <th>XP</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0"  *ngFor="let x of playerStats; let i = index">
        <tbody>
          <tr>
            <td><img src="/assets/images/skill-badges/{{skillBadges[i]}}" alt="{{x.skills}}"></td>
            <td>{{x.skillRankChange}}</td>
            <td>{{x.skillXpGained}} XP</td> 
           </tr>
        </tbody>
      </table>
    </div>
  </div> 

  <!-- <div *ngFor="let x of playerStats">
  <p>{{x.skills}}</p>


  </div> -->

  <div *ngIf="error" class="val-box">
      <p class="validation">{{error}}</p>
    </div>
   

  