<div *ngFor="let gains of playerData" class="container">
  <h2 class="rsn">{{gains.username}}</h2>
  <div class="gains">
      <p class="xp">{{gains.totalExperience | number : '1.0-1'}} XP</p>
  </div>
</div>

<div class="tablewrapper container">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Rank</th>
            <th>XP</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0"  *ngFor="let x of playerStats; let i = index">
        <tbody>
          <tr>
            <td><img src="/assets/images/skill-badges/{{skillBadges[i]}}" alt="{{x.skills}}"></td>
            <td class="rank-gain rank-loss" [ngClass]="{'rank-loss': x.negativeRank }">{{x.skillRankChange}}</td>
            <td class="xp" [ngClass]="{'xp-neutral': x.neutralXp }">{{x.skillXpGained | number : '1.0-1'}} XP</td> 
           </tr>
        </tbody>
      </table>
    </div>
    <div *ngFor="let stats of playerData" class="container">
        <h2 class="rsn"> Updated @ {{stats.updated}}</h2>
    </div>
  </div> 




  <div *ngIf="error" class="val-box">
      <p class="validation">{{error}}</p>
    </div>
   

  