
<div class="tablewrapper">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Skill</th>
            <th>Rank</th>
            <th>Level</th>
            <th>XP</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0"  *ngFor="let x of playerStats; let i = index">
        <tbody>
          <tr>
            <td><img src="/assets/images/skill-badges/{{skillBadges[i]}}" alt="{{x.skill}}"></td>
            <td>{{x.rank}}</td>
            <td>{{x.level}}</td>
            <td>{{x.xp}} XP</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="error" class="val-box">
      <p class="validation">{{error}}</p>
      <div *ngIf="startTracking">
       <p>The player you have searched for does not exist in our Database yet, if you would like to start
         tracking this Account, you can click the button.
       </p>
       <button class="btn draw-border">Start Tracking Account</button>
      </div>
  </div>
  