<div class="regular card-1">
  <p>Regular</p>
  <hr>
<div class="tablewrapper">
<p class="time">24 Hour</p>
 <div class="tbl-header">
   <table cellpadding="0" cellspacing="0" border="0">
     <thead>
       <tr>
         <th>Rank</th>
         <th>Username</th>
         <th>Xp Gain</th>
       </tr>
     </thead>
   </table>
 </div>
 <div class="tbl-content">
   <table cellpadding="0" cellspacing="0" border="0" *ngFor="let x of topDailyPlayers;let rank = index;">
     <tbody>
       <tr>
         <td>{{rank + 1}}</td>
         <td class="username">{{x.playerName}}</td>
         <td class="xp">{{x.totalExperience | number : '1.0-1'}}</td>
         </tr>
     </tbody>
   </table>
 </div>
 <p class="time">Weekly</p>
 <div class="tbl-header">
   <table cellpadding="0" cellspacing="0" border="0">
     <thead>
       <tr>
         <th>Rank</th>
         <th>Username</th>
         <th>Xp Gain</th>
       </tr>
     </thead>
   </table>
 </div>
 <div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0" *ngFor="let x of topWeeklyPlayers;let rank = index;">
    <tbody>
      <tr>
        <td>{{rank + 1}}</td>
        <td class="username">{{x.playerName}}</td>
        <td class="xp">{{x.totalExperience | number : '1.0-1'}}</td>
        </tr>
    </tbody>
  </table>
 </div>
 <p class="time">Monthly</p>
 <div class="tbl-header">
   <table cellpadding="0" cellspacing="0" border="0">
     <thead>
       <tr>
         <th>Rank</th>
         <th>Username</th>
         <th>Xp Gain</th>
       </tr>
     </thead>
   </table>
 </div>
 <div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0" *ngFor="let x of topMonthlyPlayers ;let rank = index;">
    <tbody>
      <tr>
        <td>{{rank + 1}}</td>
        <td class="username">{{x.playerName}}</td>
        <td class="xp">{{x.totalExperience | number : '1.0-1'}}</td>
        </tr>
    </tbody>
  </table>
    </div>
  </div>
 </div>