<div class="loading" *ngIf="!geItemArray">
...loading
</div>

<div class="column is-one-third">
    <label class="control">Filter items
        <input type="text" placeholder="Search for items" [(ngModel)]="searchTerm">
    </label>
</div>
<div>
  <p>{{natPrice}} GP per nature (Nature rune cost included in "Total Cost".)</p>
  <button (click)="reverseOrder()">reverse order</button>
</div>
<div class="container" *ngFor="let alchValue of geItemArray | searchFilter:searchTerm | paginate: { itemsPerPage: 50, currentPage: p }" (click)="displayItemData(alchValue.id)">
  <div class="items">
   <p>name: {{alchValue.name}}</p>
   <img src="{{alchValue.image}}" alt="{{alchValue.name}}">
    <p>total cost: {{alchValue.total | number : '1.0-1'}}</p>
   <p>alch price: {{alchValue.alchPrice | number : '1.0-1'}}</p>
   <div class="high-alch-profit loss-or-profit" [ngClass]="{'high-alch-loss': alchValue.negativeChange }">
       <p>{{alchValue.lossOrProfit | number : '1.0-1'}} GP</p>
   </div>
  </div>
</div>
<div class="pagination-control-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>