<div *ngIf="!geItemArray">
...loading
</div>

<div class="column is-one-third">
    <label class="control">Filter items
        <input type="text" placeholder="Search for items" [(ngModel)]="searchTerm">
    </label>
</div>
<div>
  <p>{{natPrice}} GP per nature</p>
</div>
<div class="container" *ngFor="let alchValue of geItemArray | searchFilter:searchTerm | paginate: { itemsPerPage: 50, currentPage: p }" (click)="displayItemData(alchValue.id)">
  <div class="items">
   <p>name: {{alchValue.name}}</p>
    <p>total cost: {{alchValue.sellAverage + natPrice}}</p>
   <p>alch price: {{alchValue.alchPrice}}</p>
   <p> profit/losses: {{alchValue.alchPrice - (alchValue.sellAverage + natPrice)}} GP</p>
  </div>
</div>
<div class="pagination-control-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>