/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #191919;
}


/* ---- typography ---- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.items {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #f0f0f0;

}
.items:hover {
  cursor: pointer;
}

.item-name {
font-size: 3em;
text-align: center;

}


.item-price {
  font-size: 2.5em;
  padding-right: 10px;
}


.today-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.today-data > .gen-info {
  display: flex;
  align-items: center;

}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

nav {
  padding-right: 30px;
  padding-top: 5px;
  height: 60px;
  background-color: #f0f0f0;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
 }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
 }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
 }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
 }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
 }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
 }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
 }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
 }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
 }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
 }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
 }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
 }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
 }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
 }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

/* buttons */

.chart-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
}

.chart-btn:focus {
  outline: none;
}

.chart-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.chart-btn-container {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.chart-container{
  border: 1px solid white;
  height: 1000px;
  width: 1000px;
  /* max-height: 40vh; */
  margin: 0 auto;
}

/* pagination */

.pagination-control-container {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 color: white;
  
}

/* search filter pipe css */



.is-one-third{
  padding: 12px;
  background: #000026;
  border-radius: 2px;
  line-height: 30px
}

.is-one-third input{
  padding: 8px;
  width: 60%;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  float: right;
}

.is-one-third:after{
  content: "";
  display: block;
  clear: both;
}

.is-one-third:focus {
  outline: none;
}

/* css spinner for loading */

